@media screen and (max-width: 576px) {
    html {
        font-size: 60% !important;
    }

    .festival-logo {
        width: 70px;
        height: 70px
    }

    .header-container {
        margin-top: 0 !important;
    }

    .festival-timer p , .festival-timer span {
        font-size: 1.4rem;
    }

    .festival-timer li p {
        font-size: 2rem !important;
        /*position: relative;*/
        /*width: 73px;*/
        /*max-width: 73px;*/
    }

    .festival-timer ul {
        width: 75%;
        margin-top: 30px !important;
    }

    .festival-timer li {
        /*width: 38px;*/
        /*max-width: 73px;*/
    }

    .festival-timer li:not(:last-child):after {
        display: none;
    }

    .speakers-container-img {
        width: 70px;
        height: 70px;
        border-radius: 7px;
    }

    .speakers-container-info div p{
        width: 100% !important;
    }

    .info-cyber-img {
        width: 20px;
        height: 20px;
    }

    .workshop-container-img {
        width: 95px;
        height: 100px;
    }

    .workshop-section {
        height: 470px;
    }

    .festival-register {
        width: 100%;
        height: 220px;
    }

    .register-info {
        height: 450px !important;
    }

    .festival-register .input-form {
        width: 90%;
    }

    .time-line {
        padding-top: 20%;
        padding-bottom: 10%;
    }

    .time-line-card-timer {
        min-width: 12%;
    }

    .sponsor-section {
        height: 430px;
    }

    .sponsor-container.border-right-container {
        border-right: none !important;
        padding-right: 0px !important;
    }

    .sponsor-container-img-mid {
        width: 90px;
        height: 90px;
    }

    .sponsor-container-img-sml {
        width: 110px;
        height: 100px;
    }

    .sponsor-container {
        height: 180px;
    }

    .festival-helper-section {
        margin-bottom: 15%;
    }

    .festival-helper-container-image {
        width: 80px;
        height: 80px;
    }

    .open-source-discount {
        font-size: 2rem !important;
    }

    .open-source-disc {
        font-size: 1.07rem;
    }

    .opensource-service-sircle div{
        display: none !important;
    }

    .festival-timer li:before {
        margin-left: 40px !important;
    }

    .checkbox-container {
        display: block;
    }

    .checkbox-container label{
        margin-top: 10px;
    }

    .discount-result {
        margin-top: 66%;
    }

    .send-email input, .repo-input{
        width: 75% !important;
        /*margin: auto;*/
    }

    .repo-input input {
        width: 90% !important;
    }

    .repo-input img {
        width: 20px;
        height: 20px
    }

    .section-repo p {
        padding: 0 5%;
    }

    footer .festival-text {
        width: 100%;
    }

    footer .festival-text div {
        width: 100%;
    }

    .row-padding {
        padding: 0 0;
    }

    footer, footer p{
        width: 100%;
    }
}
