.slider-media-sponsors {
    width: 50vw;
    height: 14.06vw;
    position: relative;
    margin: 0 auto;
    border: none;
    user-select: none;
}

.slider-media-sponsors > * {
    transition: ease all 1s;
    overflow: hidden;
}

.slider-media-sponsors .hidden {
    opacity: 0;
    z-index: 0;
    top: 0px;
    left: 50%;
}

.slider-media-sponsors .active,
.slider-media-sponsors .next1,
.slider-media-sponsors .next2,
.slider-media-sponsors .next3,
.slider-media-sponsors .next4,
.slider-media-sponsors .prev1 {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0px;
    left: 25%;
    z-index: 10;
    margin: 0;
}

.slider-media-sponsors .next1 {
    left: 50%;
}

.slider-media-sponsors .next2 {
    left: 75%;
}

.slider-media-sponsors .next3 {
    width: 0%;
    left: 100%;
    z-index: 0;
    opacity: 0;
}

.slider-media-sponsors .next4 {
    left: 100%;
    width: 0%;
    z-index: 0;
    opacity: 0;
}

.slider-media-sponsors .prev1 {
    position: absolute;
    width: 24%;
    height: 100%;
    top: 0px;
    left: 0%;
    z-index: 10;
    opacity: 1;
}

.slider-media-sponsors .prev2,
.slider-media-sponsors .prev3,
.slider-media-sponsors .prev4 {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: -25%;
    z-index: 0;
    opacity: 0;
}

.next_button,
.prev_button {
    position: absolute;
    left: 100% !important;
    top: 50% !important;
    margin: -15px 0 0 -25px !important;
    width: 50px !important;
    height: 50px !important;
    border: 1px solid #000 !important;
    background: #fff !important;
    opacity: 0.5 !important;
    z-index: 5000 !important;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;

}

.prev_button {
    position: absolute;
    left: 0% !important;
}

.next_button:hover,
.prev_button:hover {
    opacity: 1 !important;
}
.next_button:after,
.prev_button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    margin-top: -10px;
}

.next_button:after {
    border-left: 15px solid #000;
    border-right: 15px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    margin-left: -5px;
}

.prev_button:after {
    border-right: 15px solid #000;
    border-left: 15px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    margin-left: -25px;
}z


div.slider > div:not(.nav_indicators):not(.next_button):not(.prev_button) {
    /*border: 1px solid #000;*/
    text-align: center;
    /*margin: 0 3px;*/
    box-sizing: border-box;
    font-size: 150px;
}
